<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="connection.url">
            jdbc:mysql://localhost:3306/ticketoffice
        </property>
        <property name="connection.username">tomcatUser</property>
        <property name="connection.password">password1234</property>

        <property name="dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name="show_sql">true</property>

        <mapping
          resource="klm/pstryk/Person.hbm.xml"/>
        <mapping
          resource="klm/pstryk/Ticket.hbm.xml"/>
        <mapping
          resource="klm/pstryk/Event.hbm.xml"/>
    </session-factory>
</hibernate-configuration>